<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
</head>
<body>

      {{ content }}
      <h2> Minimalist Journal Privacy Policy</h2>

<b>Privacy Policy</b>
<p>
        Lenn.dev built the Minimalist Journal app as a Tier 1A-Paid app (EUR 0.49). This SERVICE is provided by Lenn.dev is<br>
        intended for use as is.</p>
        
        <p>This page is used to inform visitors regarding my policies with the collection, use, and disclosure of Personal<br>
        Information if anyone decided to use my Service.</p>
        
        <p>If you choose to use my Service, then you agree to the collection and use of information in relation to this policy. The<br>
        Personal Information that I collect is used for providing and improving the Service. I will not use or share your<br>
        information with anyone except as described in this Privacy Policy.</p>
        
        <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at<br>
        Lenn.dev unless otherwise defined in this Privacy Policy.</p>
        
        <p>Information Collection and Use</p>
        
        <p>For a better experience, while using our Service, I may require you to provide us with certain personally identifiable<br>
        information, including but not limited to None. The information that I request will be retained on your device and is<br>
        not collected by me in any way.</p>
        
        <p>The app does NOT use third party services that may collect information used to identify you.</p>
        
        <p>
        I want to inform you that whenever you use my Service, in a case of an error in the app I collect data and information<br>
        (through third party products) on your phone called Log Data. This Log Data may include information such as your device<br>
        Internet Protocol (&ldquo;IP&rdquo;) address, device name, operating system version, the configuration of the app when utilizing my<br>
        Service, the time and date of your use of the Service, and other statistics.</p>
        
        <p>Cookies</p>
        
        <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to<br>
        your browser from the websites that you visit and are stored on your device&rsquo;s internal memory.</p>
        
        <p>This Service does not use these &ldquo;cookies&rdquo; explicitly. However, the app may use third party code and libraries that use<br>
        &ldquo;cookies&rdquo; to collect information and improve their services. You have the option to either accept or refuse these<br>
        cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to<br>
        use some portions of this Service.</p>
        
        <p>Service Providers</p>
        
        <p>I do not employ third-party companies.</p>
        
        <p>Security</p>
        
        <p>I value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means<br>
        of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100%<br>
        secure and reliable, and I cannot guarantee its absolute security.</p>
        
        <p>Links to Other Sites</p>
        
        <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site.<br>
        Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy Policy of<br>
        these websites. I have no control over and assume no responsibility for the content, privacy policies, or practices of<br>
        any third-party sites or services.</p>
        
        <p>Children&rsquo;s Privacy</p>
        
        <p>These Services do not address anyone under the age of 13. I do not knowingly collect personally identifiable information<br>
        from children under 13. In the case I discover that a child under 13 has provided me with personal information, I<br>
        immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided<br>
        us with personal information, please contact me so that I will be able to do necessary actions.</p>
        
        <p>Changes to This Privacy Policy</p>
        
        <p>I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any<br>
        changes. I will notify you of any changes by posting the new Privacy Policy on this page.</p>
        
        <p>This policy is effective as of 2020-09-19</p>
        
        <p>Contact Us</p>
        
        <p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at lennart@zegeri.us.<br>
        </p>
</body>
</html>