---
layout: default
---

<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" lang="nl">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }}
            {% case m %}
              {% when '1' %}Januari
              {% when '2' %}Februari
              {% when '3' %}Maart
              {% when '4' %}April
              {% when '5' %}Mei
              {% when '6' %}Juni
              {% when '7' %}Juli
              {% when '8' %}Augustus
              {% when '9' %}September
              {% when '10' %}Oktober
              {% when '11' %}November
              {% when '12' %}December
            {% endcase %}
            {{ page.date | date: "%Y" }}
          <!-- {{ page.date | date_to_long_string }} -->
        </time>
      </h5><br>

    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <h5 class="page-date" style="text-align: center ">
        {% assign word_count = content | number_of_words %} 
        {% assign read_time = word_count| divided_by: 180.0 | round %} 
        {% if word_count < 360 %}
          1 minuut lezen
          <!-- {{ '1' | append: ' minuut ' | append: ' lezen ' | lowercase }} -->
        {% else %}
          {{ read_time | append: ' minuten ' | append: ' lezen ' | lowercase }}
        {% endif %}
        </h5>
    <div itemprop="articleBody">
      {{ content }}
    </div>
    <div class="feat share">
      <a href="http://twitter.com/share" class="popup">
        <span class="icon-twitter"></span>
      </a>
    </div>
    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">volgende</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">vorige</span>
      </a>
    {% endif %}
    <!-- LikeBtn.com BEGIN -->
<!-- <span class="likebtn-wrapper" data-theme="bootstrap" data-i18n_like=" " data-ef_voting="push" data-identifier="likebutton" data-voting_frequency="20" data-counter_count="true" data-share_size="small"></span> -->
<!-- <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script> -->
<!-- LikeBtn.com END -->
  </article>
</section>
